body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
    
}


.create_textbox
{
    width:100%;
}

.article_table, th, td{
border-width:1px;
border-style:inset;
border-color:gray;
border-collapse:collapse;
padding:5px;
}

.article_table [name="Title"]{
    width:15%;
}

.article_table [name="Menu"] {
    width: 15%;
}

.resource_table {
    /*border-width: 1px;
    border-style: inset;
    border-color: gray;*/
    border-collapse: collapse;
    border-style:none;
    border-spacing:0px;
    padding: 5px;
    width: 100%;
}

.resource_table, tr {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: red;
    padding: 5px;
    width: 100%;
}


.resource_table, td {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-bottom: 10px;
}
.resource_table [id="link"] {
    width: 30%;
}

.btn_create{
    text-decoration:none;
    
}
